.topnav a:hover {
    border-bottom: 3px solid white;
  }
  
  .navbar {
    background-color: white;
  }
  
  nav {
    background-color: black;
  }
  
  .nav-item a {
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    gap: 20px;
  }
  
  nav ul {
    background-color: #004F52;
    width: 100%;
    margin-right: 10%;
  }
  
  nav a img {
    margin-left: 10%;
    margin-top: 5%;
    width: 15%;
    background-color: white;
    border-top-right-radius: 53%;
    border-bottom-left-radius: 53%;
    border-bottom-right-radius: 53%;
  }